@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #d4d2b8;
}
.container {
  max-width: 95%;
  margin: auto;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

.btn_shadow {
  padding: 1.8rem 2.5rem;
  border-radius: 0.6rem;
  transition: 0.3s all ease;
  cursor: pointer;
  color: #000;
  transition: 0.5s;
}
.btn_shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 0.4rem 0.4rem 0.8rem #cbcbcb, -0.4rem -0.4rem 0.8rem #ffffff;
}
.btn_shadow:hover {
  cursor: pointer;
  background: #ff014f !important;
  color: white;
  transform: translateY(-1rem);
}
.box_shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 0.4rem 0.4rem 0.8rem #cbcbcb, -0.4rem -0.4rem 0.8rem #ffffff;
  border-radius: 1rem;
}
.row,
.left,
.right {
  width: 50%;
}
.top {
  margin-top: 8rem;
}
.mtop {
  margin-top: 4rem;
}
.heading {
  margin: 5rem 0 5rem 0;
}
.heading h4 {
  color: #ff014f;
  letter-spacing: 0.2rem;
  font-weight: 400;
}
.heading h1 {
  font-size: 6rem;
  color: #3c3e41;
}
h1 {
  color: #3c3e41;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 3.5rem;
}
p {
  color: #3c3e41;
}
.text-center {
  text-align: center;
}
.primary_color {
  color: #ff014f;
}
textarea,
input {
  width: 100%;
  padding: 2rem;
  border-radius: 3rem;
  outline: none;
  border: 0.5rem solid #e2e8ec;
  margin-bottom: 2rem;
  font-size: 25px;
}
/*----------Footer---------*/
footer {
  margin: 20% 0 10% 0;
}
footer p {
  margin-top: 3rem;
}
/*----------Footer---------*/
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .left,
  .right {
    width: 100%;
  }
  html {
    font-size: 50%;
  }
}
